.container-pages{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 50px;
}


ul{
    list-style-type: none; 
    padding: 10px; 
    margin: 0 auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    border: 1px solid black;
}

ul li{
    width: 25px;
    height: 25px;
}

.button-page{
    padding: 10px;
    font-family: "Zen Dots";
}


.active {
    background-color: #007bff; 
    color: #ffffff; 
    border-radius: 50%;
  }